.product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

.product__img {
  height: 300px;
}

.circle {
  user-select: none;
  width: 2em;
  height: 2em;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  display: block;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #1976d2;
  cursor: pointer;
}

.content__btn {
  display: flex;
  justify-content: space-around;
  align-items: center
}

.detail__poduct-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}